head
  include head.pug
  body    
    include profilenav.pug
    div.feedcontainer
      - for (var i = databasePost.length - 1; i >= 0; --i) {
          
            // div.userimage
            //   img(class="userimage"  src= databasePost[i].filename)
            div.maincontainer
              div.username= databasePost[i].userposted
              div.username= databasePost[i].id
              div.postimagecontainer
                img(class="postimage" src=databasePost[i].filename)
              div.captioncontainer
                i(class="fa fa-heart fa-2x" aria-hidden="true")
                span.captiontext= databasePost[i].description
              div(class="commentBoxfloat")
                form(id="cmnt" action="gallery" method="POST")
                  fieldset
                    div.form_grp
                      label(class="commentLabel") Comment
                      input(name="sendpostid" style="display:none" value=databasePost[i].id)
                      input(id="userCmnt" name="sendComment" placeholder="Write your comment here")
                    div.form_grp
                      button(type="submit"  class="send-image-comment") Add Comment
              // i(class="fa fa-comment fa-2x" aria-hidden="true")
              // form(action='/commentsubmit' method='POST')
                // input(class="commentinput" name="textarea" placeholder="Enter your comment")
                // input(class="submitinput" type="submit")
            
      - }
      
          

  script(src="/js/main.js")
  //- script(src="/js/bootstrap.js")
